:root {
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;

}

header {
  

}

Button {
  text-align: center;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;

}

.Sim {
  background-color: green;
  color: white;
}

.Nao {
  background-color: transparent;
  border: 0.1rem solid white;
  color: white;

}